
.vs/Engine/v16/.suo
*.db
*.ipch
.vs/ProjectSettings.json
*.sqlite
.vs/VSWorkspaceState.json
*.pdb
*.tlog
*.obj
*.exe
*.idb
*.ilk
*.log
x64/Debug/Engine.vcxproj.FileListAbsolute.txt
*.enc
*.iobj
*.ipdb
*.opendb
