
.vs/Engine/v16/.suo
.vs/Engine/v16/Browse.VC.db
.vs/Engine/v16/Browse.VC.opendb
.vs/Engine/v16/ipch/AutoPCH/3092d3fc0607be29/JOBSYSTEM.ipch
.vs/Engine/v16/ipch/AutoPCH/30d6a3bbe912241/MAIN.ipch
.vs/Engine/v16/ipch/AutoPCH/31b54d13bd29589/UTILITIES.ipch
.vs/Engine/v16/ipch/AutoPCH/6a2d0243e4e695c1/INPUTMANAGER.ipch
.vs/Engine/v16/ipch/AutoPCH/7d3a61f968f9ed0a/UTILITIES.ipch
.vs/Engine/v16/ipch/AutoPCH/9453ad54a9c2adfc/VECTOR.ipch
.vs/Engine/v16/ipch/AutoPCH/a5c63c04f7df0eb6/MAIN.ipch
.vs/Engine/v16/ipch/AutoPCH/a660395a453a104e/INPUTMANAGER.ipch
.vs/Engine/v16/ipch/AutoPCH/ce48a5f4ef9eecd0/VECTOR.ipch
.vs/Engine/v16/ipch/AutoPCH/d4d832f0ef96ee46/JOBSYSTEM.ipch
.vs/Engine/v16/ipch/AutoPCH/ffa692dc1660ad1f/VECTOR.ipch
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
Debug/Engine.pdb
Debug/Engine.tlog/CL.command.1.tlog
Debug/Engine.tlog/CL.read.1.tlog
Debug/Engine.tlog/CL.write.1.tlog
Debug/Engine.tlog/Engine.lastbuildstate
Debug/Engine.tlog/link-cvtres.read.1.tlog
Debug/Engine.tlog/link-cvtres.write.1.tlog
Debug/Engine.tlog/link-rc.read.1.tlog
Debug/Engine.tlog/link-rc.write.1.tlog
Debug/Engine.tlog/link.command.1.tlog
Debug/Engine.tlog/link.read.1.tlog
Debug/Engine.tlog/link.write.1.tlog
Debug/Engine.tlog/unsuccessfulbuild
Debug/InputManager.obj
Debug/JobSystem.obj
Debug/main.obj
Debug/Utilities.obj
Debug/vc142.idb
Debug/vc142.pdb
Engine.vcxproj
x64/Debug/Engine.exe
x64/Debug/Engine.ilk
x64/Debug/Engine.log
x64/Debug/Engine.pdb
x64/Debug/Engine.tlog/CL.command.1.tlog
x64/Debug/Engine.tlog/CL.read.1.tlog
x64/Debug/Engine.tlog/CL.write.1.tlog
x64/Debug/Engine.tlog/Engine.lastbuildstate
x64/Debug/Engine.tlog/link.command.1.tlog
x64/Debug/Engine.tlog/link.read.1.tlog
x64/Debug/Engine.tlog/link.write.1.tlog
x64/Debug/InputManager.obj
x64/Debug/JobSystem.obj
x64/Debug/main.obj
x64/Debug/Utilities.obj
x64/Debug/vc142.idb
x64/Debug/vc142.pdb
x64/Debug/Vector.obj
Engine.vcxproj
x64/Debug/Engine.vcxproj.FileListAbsolute.txt
.vs/Engine/v16/ipch/AutoPCH/36f5b76cfe990d8e/MATRIX.ipch
*.ipch
*.obj
*.exe
*.iobj
*.ipdb
*.log
*.pdb
*.tlog
*.enc
