
*.db
.vs/Engine/v16/.suo
*.opendb
*.ipch
*.json
*.sqlite
*.pdb
*.tlog
*.obj
*.idb
*.exe
*.ilk
*.log
*.txt
x64/Debug/main.obj.enc
x64/Debug/matrix.obj.enc
x64/Release/Engine.iobj
x64/Release/Engine.ipdb
